@font-face {
    font-family: Montserrat;
    src: url(./../../fonts/Montserrat-Regular.woff) format("woff"),
        url(./../../fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin font($family: false) {
    @if $family == "am" {
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 500;
        font-style: normal;
    } @else {
        @error "Property #{$family} is not supported in the font-mixin mixin.";
    }
}
